.Flier {
  width: 100%;
}


.Flier__img img {
  width: 100%;
}

.Flier__options {
  width: fit-content;
  position: relative;
  bottom: 5vh;
  left: 41vw;
}

.warrantyArticle {
  width: 100%;
}
.warrantyArticle img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
}

.partners {
  width: 100%;
  height: max-content;
  margin-bottom: 4em;
}

.partners__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 2em;
  padding-bottom: 2em;
  list-style: none;
}

.partners__container li {
  max-width: 12vw ;
  /* border: 1px solid red; */
}

.partners__container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* object-fit: cover; */
  /* position: relative; */
  /* border: 1px solid red; */
}